body {
  background-color: #0e1213;
  margin: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #5e5e54;
}

header figure img {
  border-radius: 50%;
}

header figcaption {
  color: #3e4243;
  text-align: center;
}

header nav a {
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  position: relative;
}

header nav a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gold;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

header nav a:hover:before {
    visibility: visible;
    width: 100%;
}

header nav a:not(:last-of-type) {
  border-right: 1px solid #333;
}

header nav a:hover {
  color: gold;
}

header nav a::after {
    width: 100%
}

main {
  margin-top: 10px;
  border-top: 1px solid #5e5e54;
  min-height: 100vh;
}

main > img {
  width: 100%;
}

main section {
  padding: 10px;
  min-height: 100vh;
  opacity: 0;
  transition: 2s;
  color: white;
}

main section.active {
  opacity: 1;
}

#projects {
  text-align: center;
}

#projects > a {
  display: inline-block;
  margin: 20px;
  width: 350px;
  height: 200px;
  text-decoration: none;
  color: white;
}

#projects figure {
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: dimgray;
  box-shadow: 0;
}

#projects figure:hover {
  box-shadow: 10px 10px 10px white;
}

#projects figure img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  object-position: center;
  background-color: black;
}

#projects figcaption {
  margin-top: 10px;
}

#home {
  background-color: #0e1213;
  color: gold;
}

#home h2{
  text-align: center;
}

#home p {
  margin: 10px auto;
  max-width: 650px;
  font-size: 18px;
  line-height: 26px;
}

#about {
  background-color: #333333;
  color: white;
}

footer {
  opacity: 0;
  transition: 2s;
  padding: 30px;
  text-align: center;
  color: gold;
  background-color: #333333;
}

footer.active {
  opacity: 1;
}

@media screen and (max-width: 880px) {
  header nav a {
    display: block;
    border: 0 !important;
  }
  header nav:first-of-type {
    text-align: right;
  }
}
